- if notice
  %p#notice= notice

%h1= t('.title_html')

- @products.each do |product|
  .entry
    = image_tag(product.image_url)
    %h3= product.title
    = sanitize(product.description)
    .price_line
      %span.price= number_to_currency(product.price)
      = button_to t('.add_html'), line_items_path(:product_id => product),
        :remote => true
