<% form_for :product, :url => { :action => :create } do |form| %>
  <p>Title:       <%= form.text_field :title, :size => 30 %></p>
  <p>Description: <%= form.text_area :description, :rows => 3 %></p>
  <p>Image URL:   <%= form.text_field :image_url %></p>
  <p>Price:       <%= form.text_field :price, :size => 10 %></p>
  <%= form.select :title, %w{ one two three } %>
  <p><%= submit_tag %></p>
<% end %>