<!-- START:head -->
<!DOCTYPE html>
<html>
  <head>
  <!-- START_HIGHLIGHT -->
    <title>Pragprog Books Online Store</title>
  <!-- END_HIGHLIGHT -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all',
                            'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
  </head>

  <!-- END:head -->
  <body>
  <!-- START_HIGHLIGHT -->
    <header class="main">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
  <!-- END_HIGHLIGHT -->
			<main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
  <!-- START_HIGHLIGHT -->
    </div>
  <!-- END_HIGHLIGHT -->
  </body>
</html>
